    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About Me</h1>
                <p>I am currently a 3rd year Computer Science PhD Student, 2023-2024 ARCS Foundation Metropolitan Washingtion Chapter Scholar, attending the University of Virginia in Charlottseville, Virginia.
                   I am advised by <a href="https://engineering.virginia.edu/faculty/jack-w-davidson" target="_blank">Professor Jack W. Davidson</a>, focusing on novel cybersecurity and user emulation techniques. I am devoloping a stronger method for evaluating defensive techniques by providing realistic human behaviors to an isolated testbed environment, ensuring our global infrastructure remains resilient to cyber attacks.</p>
            </div>
        </div>
    </section>
