<!-- Education/Experience Section -->
<section id="edexp" class="container content-section text-left">
    <div class="row">
        <h1>Documentation</h1>
        <div class="col-lg-6 col-lg-offset">
            <h2>Coding</h2>

            <h5>Windows 11 Openstack Configuration</h5>

            <h4>2021-present</h4>
            <p>PhD Student, Computer Science <br> School of Engineering and Applied Science <br> University of Virginia, Charlottesville, VA</p>

        </div>
        <div class="col-lg-6 col-lg-offset">
            <h2>Rapid Prototyping</h2>

        </div>
    <!-- END OF ROW -->
    </div>
</section>
