<!-- Education/Experience Section -->
<section id="edexp" class="container content-section text-left">
    <div class="row">
        <h1>Documentation</h1>
        <div class="col-lg-6 col-lg-offset">
            <h2>Coding</h2>

            <h4>2021-present</h4>
            <p>PhD Student, Computer Science <br> School of Engineering and Applied Science <br> University of Virginia, Charlottesville, VA</p>

            <h4>2017-2021</h4>
            <p>BS Computer Science, Colorado State University</p>

            <h4>2016</h4>
            <p>Apple Certified Macintosh/Portable Technician<p>

            <h4>2013-2017</h4>
            <p>GED Skyline High School, STEM Program</p>
        </div>
        <div class="col-lg-6 col-lg-offset">
            <h2>Rapid Prototyping</h2>

            <h4>2020-2021</h4>
            <p>Rocky Mountain Student Media Corporation <br>Web Devoloper, DNS/DHCP Network Administrator</p>

            <h4>2018-2021</h4>
            <p>The CSU Bookstore <br>Order Fulfillment Student Manager<p>

            <h4>2013-2017</h4>
            <p>The Innovation Center of SVVSD <br>Student Machine Team Lead</p>
        </div>
    <!-- END OF ROW -->
    </div>
</section>
