    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Project Repositories</h2>
                    <p>Click the below button to see more of my latest projects.</p>
                    <a href="https://github.com/LampSteven17" class="btn btn-default btn-lg">Github</a>
                </div>
            </div>
        </div>
    </section>
