<!-- Education/Experience Section -->
<section id="edexp" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-6 col-lg-offset">
            <h1>Education</h1>
            <br>

            <h4>2016</h4>
            <p>Apple Certified Macintosh/Portable Technician<p>

            <h4>2013-2017</h4>
            <p>GED Skyline High School, STEM Program</p>
        </div>
        <div class="col-lg-6 col-lg-offset">
            <h1>Expirence</h1>
        </div>
    <!-- END OF ROW -->
    </div>
</section>
