<!-- Education/Experience Section -->
<section id="edexp" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8">
            <h1>Education</h1>
            <ul style="font-size:20px">
              <li>CSU</li>
            </ul>
        </div>
        <div class="col-lg-8">
            <h1>Expirence</h1>
            <p>I am currently a 1st year PhD Student attending the University of Virginia in Charlottseville, Virginia. My research focus is on Cybersecurity.</p>
        </div>
    </div>
</section>
