<!-- Current Menu and Offerings -->
<section id="mockMenu" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-12 col-lg-offset">
            <h1>Current Offerings:<h1>
            <br>

            <h3>Pina Colada</h3>
            <p>Invented by bartender Ramón “Monchito” Marrero, 1954. The Pina
              Colada is a classic common drink, universally praised for its
              simplicity in taste and requirments to make. Here is my "what was
              in my fridge at the time" attempt to replicate this drink.</p>


        </div>
    <!-- END OF ROW -->
    </div>
</section>
