<!-- Current Menu and Offerings -->
<section id="mockMenu" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-12 col-lg-offset">
          <h1>Current Offerings:</h1>
          <br>

          
<!---        ADD NEW COCTAILS           --->
          <div class="col-lg-8 col-lg-offset">
            <img src = "/img/hidden/pinacolada.png" class = "recipieImage"/>
            <h3>Piña Colada</h3>
            <p>Potentially invented by bartender Ramón “Monchito” Marrero, 1954. The Pina
              Colada is a classic tiki drink, universally praised for its
              simplicity in taste and requirments to make. The drink traditionally
              consists of more than one type of rum, to give the apperance of
              being exotic (signature move of Don Beach). Here is my "what was
              in my fridge at the time" attempt to replicate this drink.</p>
          </div>

            <div class="col-lg-6">
              <h3>Cocktail</h3>
              <ul style="font-size:20px">
                <li>1.00 oz. Light Rum</li>
                <li>2.25 oz. Pineapple Juice</li>
                <li>1.50 oz. Coconut Cream (Jigger Overflowing)</li>
                <li>0.50 oz. Orange Juice (Or other citrus such as lime/lemon juice)</li>
              </ul>
            </div>

            <div class="col-lg-6">
              <h3>Mocktail</h3>
              <ul style="font-size:20px">
                <li>3.00 oz. Pineapple Juice</li>
                <li>1.50 oz. Coconut Cream (Jigger Overflowing)</li>
                <li>1.00 oz. Orange Juice (Or other citrus such as lime/lemon juice)</li>
              </ul>
            </div>

<!---        END NEW COCTAILS           --->

        </div>
    <!-- END OF ROW -->
    </div>
</section>
