<!-- Current Menu and Offerings -->
<section id="mockMenu" class="container content-section text-left">
    <div class="row">
      <h1>Current Offerings:<h1>
        <br>

        <div class="col-lg-12 col-lg-offset">
            <h3>Pina Colada</h3>
            <p>Invented by bartender Ramón “Monchito” Marrero, 1954. The Pina
              Colada is a classic common drink, universally praised for its
              simplicity in taste and requirments to make. Here is my "what was
              in my fridge at the time" attempt to replicate this drink.</p>
            <ul>
              <li>ingredient 1</li>
              <li>ingredient 2</li>
            </ul>
        </div>
    <!-- END OF ROW -->
    </div>
</section>
