<!-- Win11 Openstack Guide -->
<section id="win11-openstack-guide" class="container content-section text-left">
    <head>
        <h1>How to Create Windows 11 Virtual Machines in Openstack with Virtio Drivers & Cloudinit</h1>
        <img src="/img/openStackGuides.png"/>
        <p>If you were anything like me at the time of writing this article, then you would realize that their is not a single person on this planet that understands fully how Openstack works. Ditto to Windows 11. Here is how to configure a virtual machine in VirtualBox using Windows 11, and upload the image properly to work with Openstack.</p>

        <p>I also found these other articles extremely helpful for further reference:
            <ul style="list-style-type: none">
                <li><a href="https://ilearnedhowto.wordpress.com/2022/12/09/how-to-create-windows-10-or-windows-11-virtual-machines-in-openstack-using-kvm/" target="_blank" >https://ilearnedhowto.wordpress.com/2022/12/09/how-to-create-windows-10-or-windows-11-virtual-machines-in-openstack-using-kvm/</a></li>
                <li><a href="https://pve.proxmox.com/wiki/Windows_VirtIO_Drivers" target="_blank" >https://pve.proxmox.com/wiki/Windows_VirtIO_Drivers</a></li>
                <li><a href="https://superuser.openinfra.dev/articles/how-to-deploy-windows-on-openstack/" target="_blank" >https://superuser.openinfra.dev/articles/how-to-deploy-windows-on-openstack/</a></li>
                <li><a href="https://kevinlocke.name/bits/2021/12/10/windows-11-guest-virtio-libvirt/" target="_blank" >https://kevinlocke.name/bits/2021/12/10/windows-11-guest-virtio-libvirt/</a></li>
                <li><a href="https://www.reddit.com/r/unRAID/comments/trns2i/windows_11_virtio_drivers/" target="_blank" >https://www.reddit.com/r/unRAID/comments/trns2i/windows_11_virtio_drivers/</a></li>
            </ul>
        </p>
    </head>



    <div class="row">
        <h3>Prerequisites: Download a Win11 Iso and Install Virtualbox to Your Machine</h3>
            <p>The first thing you need to do is get VirtualBox downloaded and installed onto your machine. For the purposes of this tutorial I will be using a Windows 11 machine with WSL2(Ubuntu 22.04) for the command line interface.</p>

        <h5>VirtualBox:</h5>
            <code><a href="https://www.virtualbox.org/" target="_blank" >https://www.virtualbox.org/</a></code>
        <div/>

        <h5>Windows 11:</h5>
            <code><a href="https://www.microsoft.com/en-us/windows" target="_blank" >https://www.microsoft.com/en-us/windows</a></code>
        <div/>



        <h3>Configure Your Virtual Machine <b>BEFORE INITAL BOOT</h3>
            <p>Open VirtualBox and click <b>NEW</b></p>
            <img src="/img/startVBOX.png"/>




    </div>
</section>