<!-- Win11 Openstack Guide -->
<section id="win11-openstack-guide" class="container content-section text-left">
    <head>
        <h1>How to Create Windows 11 Virtual Machines in Openstack with Virtio Drivers \& Cloudinit</h1>

    </head>

    <div class="row">
        <div class="col-lg-6 col-lg-offset">
            <h2>Coding</h2>

            <p><a href="https://lampsteven17.github.io/win11-openstack-guide" target="_blank">Windows 11 Openstack Installation Guide</a></p>

            <h4>2021-present</h4>
            <p>PhD Student, Computer Science <br> School of Engineering and Applied Science <br> University of Virginia, Charlottesville, VA</p>

        </div>
        <div class="col-lg-6 col-lg-offset">
            <h2>Rapid Prototyping</h2>

        </div>
    <!-- END OF ROW -->
    </div>
</section>