<!-- Win11 Openstack Guide -->
<section id="win11-openstack-guide" class="container content-section text-left">
    <head>
        <h1>How to Create Windows 11 Virtual Machines in Openstack with Virtio Drivers & Cloudinit</h1>
        <img src="/img/openStackGuides.png"/>
        <p>If you were anything like me at the time of writing this article, then you would realize that their is not a single person on this planet that understands fully how Openstack works. Ditto to Windows 11. Here is how to configure a virtual machine in VirtualBox using Windows 11, and upload the image properly to work with Openstack.</p>
    </head>

    <div class="row">
        <h2>Prerequisites: Download a Win11 Iso and Install Virtualbox to Your Machine</h2>

        <h4>VirtualBox:</h4>
        <code>https://www.virtualbox.org/</code>


    </div>
</section>